<!DOCTYPE html>
<br lang="en">
{% load staticfiles %}
<html>
    <head>
        <title>Rango fetched from db</title>
        <meta charset="UTF-8">
        <!-- <link rel="stylesheet" href="{% static "css/style.css" %}"/> -->
        <!-- <script src="{% static "js/jquery.js" %}"></script> -->
    </head>

    <body>
        {% if user.is_authenticated %}

            <h1>Rango says.. Hello {{ user.username }} </h1>
            <a href="/rango/restricted/">Restricted Page</a>
            <br/>
            <a href="/rango/logout/">Log out</a>
            <br/>
            <a href="/rango/add_category/">Add a new Category</a>
            <br/>

        {% else %}

            <h1>Rango says...Hello World! </h1>
            <a href="/rango/login/">Login</a>
            <br/>
            <a href="/rango/register/">Register new user</a>
            <br/>

        {% endif %}


        <b>{{boldmessage}}</b>
        <br/>


        {% if categories %}

            <ul>
                {% for category in categories %}
                    <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>

        {% else %}

            <b>There is no category at the moment!</b>

        {% endif %}

        <a href="/rango/about">About</a>
        <br/>
        <img src="{% static "images/IMG_4589.JPG" %}" alt="#her and #him" height=600 width=800/>

    </body>
</html>