<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register new user</title>
    </head>

    <body>
        <h1>Register new user</h1>

        {% if registered %}
            <b>Thank you for registered</b>
            <br/>
            <a href="/rango/">Back to homepage</a>
        {% else %}
            <b>Register Form:</b>
            <br/>
            <form id="user_form" method="post" action="/rango/register/" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}

                <input type="submit" name="submit" value="Register"/>
            </form>
        {% endif %}
    </body>
</html>